/* Импорт шрифтов */
@import url('http://fonts.cdnfonts.com/css/minion-pro?styles=30098,15240');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	margin: 0 auto;
	width: 1300px;
	font-family: 'Minion Pro', serif;
}

a {
	text-decoration: none;
}

/* Шапка сайта */
.header {
	background-color: #8c0a0d;
	height: 70px;
	position: relative;
}

.logo {
	background-image: url(../img/logo_roshen.png);
	width: 177px;
	height: 41px;
	position: absolute;
	top: 15px;
	left: 67px;
}

/* Меню */
nav {
	overflow: 	auto;
}

menu {
	margin-top: 37px;
	margin-left: 369px;
}

li {
	display: inline-block;
	text-transform: uppercase;
	margin-right: 32px;
}

li a {
	font-size: 14px;
	font-weight: 700;
	color: #F9BD6F;
}

/* Язык */
.lang {
	position: absolute;
	top: 36px;
	right: 67px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	color: #f5b765;
}

.english {
	width: 26px;
	height: 18px;
	background-image: url(../img/english_84.png);
	position: absolute;
	top: 37px;
	right: 115px;
}

/* Тело сайта */
.section {
	position: relative;
	background-color: #f5e8c6;
	background-image: url(../img/sloy_15_151.png);
	height: 687px;
	background-blend-mode: soft-light;
}

/* Картинка Рошен */
.image {
	width: 1170px;
	height: 335px;
	background-image: url(../img/img.png);
	position: relative;
	top: 25px;
	left: 67px;
}

.roshen {
	width: 455px;
	height: 54px;
	position: absolute;
	top: 30px;
	left: 358px;
	font-size: 58px;
	line-height: 45px;
	font-weight: 400;
	color: #35040c;
}

#text1,
#text2 {
	font-weight: 400;
}

#text2 {
	font-family: 'Open Sans', sans-serif;
}

.button {
	width: 189px;
	height: 42px;
	background-color: #F6CC79;
	border-radius: 10px;
	box-shadow: 0px 5px #bf670d;
	position: absolute;
	top: 108px;
	left: 491px;
	text-align: center;
}

.button a {
	color: #030303;
	font-size: 24px;
	font-weight: 700;
	line-height: 42px;
	color: #030303;
}

.right-arrow {
	height: 55px;
	width: 55px;
	background-image: url(../img/right-arrow.png);
	position: absolute;
	top: 152px;
	right: 32px;
}

.left-arrow {
	height: 55px;
	width: 55px;
	background-image: url(../img/left-arrow.png);
	position: absolute;
	top: 152px;
	left: 32px;
}

/* Текст о Рошен */
.Text1,
.Text2,
.Text3,
.Text4,
.Text5,
.Text6,
.Text7,
.Text8 {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #060606;
	overflow: hidden;
}

.Text5,
.Text6,
.Text7,
.Text8 {
	font-size: 16px;
	font-weight: 400;
}

.Text1 {
	position: absolute;
	width: 269px;
	height: 64px;
	top: 391px;
	left: 65px;
}

.Text2 {
	position: absolute;
	width: 276px;
	height: 65px;
	top: 391px;
	left: 363px;
}

.Text3 {
	position: absolute;
	width: 235px;
	height: 89px;
	top: 391px;
	left: 662px;
}

.Text4 {
	position: absolute;
	width: 249px;
	height: 63px;
	top: 391px;
	left: 957px;
}

.Text5 {
	position: absolute;
	width: 260px;
	height: 135px;
	top: 499px;
	left: 65px;
}

.Text6 {
	position: absolute;
	width: 255px;
	height: 158px;
	top: 499px;
	left: 363px;
}

.Text7 {
	position: absolute;
	width: 253px;
	height: 159px;
	top: 499px;
	left: 662px;
}



.Text8 {
	position: absolute;
	width: 276px;
	height: 133px;
	top: 499px;
	left: 957px;
}

/* Подвал сайта */
.footer {
	background-color: #8c0a0d;
	height: 68px;
	position: relative;
}

/* Контактная информаци */
address {
	font-style: normal;
}

.site,
.adress,
.tel,
.e-mail,
a {
	color: #FBC86B;
	font-weight: 700;
	font-size: 14px;
}

.site {
	width: 192px;
	height: 14px;
	position: absolute;
	top: 32px;
	left: 67px;
}

.adress {
	width: 148px;
	height: 38px;
	position: absolute;
	top: 12px;
	left: 361px;
}

.tel {
	width: 144px;
	height: 37px;
	position: absolute;
	top: 12px;
	left: 658px;
}

.e-mail {
	width: 138px;
	height: 36px;
	position: absolute;
	top: 12px;
	left: 957px;
}

/* Социальные сети */
.fb {
	width: 28px;
	height: 28px;
	background-image: url(../img/fb.png);
	position: absolute;
	top: 21px;
	right: 108px;
}

.tw {
	width: 28px;
	height: 28px;
	background-image: url(../img/tw.png);
	position: absolute;
	top: 21px;
	right: 67px;
}