
@font-face {
    font-family: MyriadProRegular;
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0 auto;
    width: 752px;
    font-family: MyriadProRegular, RobotoRegular;
}

.header {
    background-color: #2d7053;
    height: 237px;
    position: relative;  
}

.circle1 {
    width: 144px;
    height: 144px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 37px;
    top: 46px;
}

.title {
    width: 134px;
    height: 131px;
    font-size: 28px;
    text-align: left;
    color: white;
    position: absolute;
    top: 53px;
    left: 238px;
    }

.line1 {
    width: 87px;
    height: 15px;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    top: 83px;
    right: 44px;
}

.line2 {
    width: 87px;
    height: 15px;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    top: 111px;
    right: 44px;
}

.line3 {
    width: 87px;
    height: 15px;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    top: 139px;
    right: 44px;
}

.room {
    background-image: url(../img/room.png);
    height: 466px;
    position: relative;
}

.fon {
    background-color: black;
    opacity: 0.3;
    width: 743px;
    height: 444px;
    position: absolute;
    left: 9px;
}

.button1 {
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    line-height: 3.1;
    font-size: 23px;
    text-align: center;
    color: white;
    position: absolute;
    left: 204px;
    bottom: 47px;
    }

a {
    color: white;
    text-decoration: none;
}

.woman {
    width: 247px;
    height: 247px;
    background-image: url(../img/woman.png);
    border-radius: 50%;
    margin-top: 72px;
    margin-left: 44px;
    position: relative;
}

.name {
    width: 210px;
    height: 27px;
    position: absolute;
    top: 61px;
    left: 322px;
    font-size: 34px;
}

.terapevt {
    width: 245px;
    height: 50px;
    position: absolute;
    top: 117px;
    left: 320px;
    font-size: 22px;
}

.text {
    width: 590px;
    height: 166px;
    margin-top: 60px;
    margin-left: 44px;
    font-size: 22px;
    white-space: pre-line;   
}

.head {
    width: 545px;
    height: 32px;
    margin-top: 46px;
    margin-left: 44px;
    font-size: 34px;    
}

.list {
    width: 256px;
    height: 180px;
    margin-top: 43px;
    margin-left: 44px;
    font-size: 22px;  
}

ul {
    padding-left: 0px;
    margin-top: 0px;
    list-style-type: none;
}

.button2 { 
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    line-height: 3.1;
    font-size: 23px;
    text-align: center;
    color: white;
    margin-top: 42px;
    margin-left: 216px;
    margin-bottom: 47px;
}

.footer {
    background-color: #888888;
    height: 156px;
    position: relative;
}

.circle2 {
    width: 99px;
    height: 99px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 44px;
    top: 29px;
}

address {
    font-style: normal;
}

.adress {
    width: 199px;
    height: 17px;
    position: absolute;
    left: 326px;
    top: 104px;
    color: white;
    font-size: 17px;
    text-align: center;
}

.tel {
    width: 136px;
    height: 15px;
    position: absolute;
    left: 571px;
    top: 58px;
    color: white;
    font-size: 17px;
    text-align: right;
}

.e-mail {
    width: 144px;
    height: 17px;
    position: absolute;
    left: 563px;
    top: 100px;
    color: white;
    font-size: 17   px;
    text-align: right;
}