header {
    background-image: url();
    max-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    border: black 2px solid;
    background-color: cornflowerblue;
}
section {
    text-align: justify;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border: 2px solid black;
    background-color: #ffffff;
    text-align: justify;
    }
footer {
    background-image: url();
    text-align: center;
    padding: 15px 0;
    border: black 2px solid;
    border-radius: 0 0 8px 8px;
    background-color: rgb(100, 149, 237);
}
